html {
    color: #cfcfc2;
    background-color: #232629;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    max-width: 80%;
    width: auto;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 64px;
    padding-bottom: 64px;
    hyphens: auto;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    font-size: 125%;
}

@media (max-width: 600px) {
    body {
        font-size: 0.9em;
        padding: 12px;
    }
    h1 {
        font-size: 1.8em;
    }
}

@media print {
    html {
        background-color: white;
    }
    body {
        background-color: transparent;
        color: black;
        font-size: 12pt;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3, h4 {
        page-break-after: avoid;
    }
}

p {
    margin: 1em 0;
}

a {
    color: #cfcfc2;
    text-decoration-color: rgba(207, 207, 194, 0.3);
}

a:visited {
    color: #cfcfc2;
    text-decoration-color: rgba(207, 207, 194, 0.3);
}

img {
    max-width: 100%;
}

svg {
    height: auto;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.4em;
}

h5, h6 {
    font-size: 1em;
    font-style: italic;
}

h6 {
    font-weight: normal;
}

ol, ul {
    padding-left: 1.7em;
    margin-top: 1em;
    list-style-type: disc;
}

li > ol, li > ul {
    margin-top: 0;
}

blockquote {
    margin: 1em 0 1em 1.7em;
    padding-left: 1em;
    border-left: 2px solid #e6e6e6;
    color: #606060;
}

code {
    font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
    font-size: 85%;
    margin: 0;
    hyphens: manual;
    white-space: pre-wrap;
}

pre {
    margin: 1em 0;
    overflow: auto;
}

pre code {
    padding: 0;
    overflow: visible;
    overflow-wrap: normal;

}

code.sourceCode {
    padding: 0;
}

.sourceCode {
    background-color: transparent;
    overflow: visible;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 8px;
    padding-bottom: 8px;
}

hr {
    background-color: #cfcfc2;
    border: none;
    height: 1px;
    margin: 1em 0;
}

/* customize table */
table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
    font-variant-numeric: lining-nums tabular-nums;
}

table, th, td {
  border: none; /* Hide all default borders */
}

table caption {
    margin-bottom: 0.75em;
}

tbody {
    margin-top: 0.5em;
    border-top: 1px solid #CFCFCF4D;
}

th {
    border-top: 1px solid #CFCFCF4D;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

td {
    padding: 0.125em 0.5em 0.25em 0.5em;
}
/* customize table end */

header {
    margin-bottom: 4em;
    text-align: center;
}

#TOC li {
    list-style: none;
}

#TOC ul {
    padding-left: 1.3em;
}

#TOC > ul {
    padding-left: 0;
}

#TOC a:not(:hover) {
    text-decoration: none;
}


span.smallcaps{
    font-variant: small-caps;
}

div.columns{
    display: flex;
    gap: min(4vw, 1.5em);
}

div.column{
    flex: auto;
    overflow-x: auto;
}

div.hanging-indent{
    margin-left: 1.5em;
    text-indent: -1.5em;
}

ul.task-list[class]{
    list-style: none;
}

ul.task-list li input[type="checkbox"] {
    font-size: inherit;
    width: 0.8em;
    margin: 0 0.8em 0.2em -1.6em;
    vertical-align: middle;
}

.display.math{
    display: block;
    text-align: center;
    margin: 0.5rem auto;
}


/* customize scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.35);
}
/* customize scrollbar end*/
